<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatemas Dagbok</title>
</head>
<body>
    <h1>Fatemas dagbok</h1>

    <!--Form för att skapa nytt inlägg-->
    <div>
        <h3>Skapa ett nytt inlägg</h3>
        <form method="post" th:action= "@{/new-post}" th:object="${dairy}">
            <label for="title">Ange rubrik:</label>
            <input type="text" id="title" th:field="*{title}" required><br><br>

            <label for="date">Datum:</label>
            <input type="date" id="date" th:field="*{date}" required><br><br>

            <label for="text">Ange text:</label>
            <input type="text" id="text" th:field="*{text}"required> <br><br>
            
            <button type="submit">Lägg till</button> <br><br>

        </form>
    </div>
    
    <!--Displaying data from database-->
    <ul>
        <li th:each=" dairy: ${dairies}">
            <p><strong>Title:</strong> <span th:text="${dairy.title}"></span></p>
            <!--#dates.format(), thymelaf function that converts date to a readable format-->
            <p><strong>Date:</strong> <span th:text="${#dates.format(dairy.date, 'yyy-MM-dd')}"></span></p>
            <p><strong>Text:</strong> <span th:text="${dairy.text}"></span></p>

            <!--Adding delete button -->
            <form method="post" th:action= "@{/delete-post/{id}(id=${dairy.id})}" style="display: inline;">
                <button type="submit" onclick="return confirm('Är du säker att du vill ta bort inlägg?')">Ta bort</button>

            </form>
            
        </li>
    </ul>
</body>
</html>